@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="~/CRYPTOTRAVEL.png" width="30%"/>
    <p><a href="account/Login">Click here to log in/register!</a></p>
</div>
